*{
    margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Open sans';
	box-sizing: border-box;

}

body{
    background:white;
}

/*HEADER*/


/*NAV*/
nav{
	background:white;
}
.carrito{
	float: right;
	padding-right: 25px;
}

/*MAIN*/
h2{
	text-align: center;
}
.Productos{
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, 350px);
	grid-template-rows: 1fr;
	gap: 2em;
	font-family: 'Open sans';
	font-weight: 700;
	position: relative;
	justify-content: center;
	padding: 3%;
}

.informacion{
	text-align: center;
	display: grid;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

button{
	display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;
	width: auto;
	height: auto;
	border-radius: 20%;
	color: black;
	align-items: center;
}

/*FOOTER*/

/*CARRITO*/
.carrito{
	background: white;
}




